<!-- <button (click)="logout()">logout</button> -->

    
    <div class="background" >
        <div class="container">
            <div class="header">
                <div class="navs">
                    <div class="nave">   
                                     <input type="checkbox" id="menu">
                    <label for="menu" class="icon">
                            <div class="menu"></div>
                     </label>
                    
                    <nav>
                        <ul>
                            <!-- <li>
                                <i id="li" class="bi bi-house-fill"></i>Grade E
                            </li> -->
                            <li>
                                <i (click)="home()"  id="li" class="bi bi-bag-plus-fill">&nbsp;&nbsp;Home</i>
                            </li>
                            <li>
                                <i id="li" (click)="staffupdation()" class="bi bi-building-add">&nbsp;&nbsp;Staff_Updation</i>
                            </li>
                            <li>
                                <i  id="li" class="bi bi-bar-chart">&nbsp;&nbsp;Analysis</i> 
                            </li>
                            <li>
                                <i id="li" class="bi bi-truck">&nbsp;&nbsp;Delivery</i> 
                            </li>
                          
                        </ul>
                    </nav>
                </div>
    
                    <!-- <div> <img src="/assets/images/foodlogo.png" alt=""></div> -->
                    <div> <i (click)="profile()" id="profilelogo" class="bi bi-person-circle"></i>
                    <div class="profilebackground" *ngIf="profileopen">
    <div class="profilebody">
        <div class="cancel">
      <i (click)="profile()"  class="bi bi-x"></i>
    </div>
    
        <div  id="logo">
            <div id="logoborder">
        <i  id="logoavg"  class="bi bi-person-fill"></i>
            </div>
    
    </div>
    <!-- <div id="listborder" *ngFor="let staffData of staffDatas" > -->
    
        <!-- <p id="name">{{staffData.Name}}</p>
        <p id="name">ID:{{staffData.SID}}</p>
        <p id="name">Section:{{staffData.Section}}</p> -->
    <!-- </div> -->
    <!-- <button id="logout" (click)="logout()">logout</button>  -->
    <h1>hai</h1>
    
    </div>
                    </div>
                    
                    
                    </div>
                </div>
                <!-- <div class="search">
                    <div><i class="bi bi-search"></i>
                      
                                <input     type="text" placeholder="    Search" >
                    </div>
    
                 
    
                </div> -->
                
                <div class="headerpopup">

                    <div class="headerbody"  >
                        <form [formGroup]="createEmployeeForm">
                            <div style="align-items: center; width: 60vw;display: flex;justify-content: center;">
                                <div style="display: flex;align-items: center;justify-content: center;flex-direction: column;">                                
                                <input type="text" formControlName="Staffname" placeholder="StaffName">
                                <div  *ngIf="createEmployeeForm.get('Staffname')?.invalid && createEmployeeForm.get('Staffname')?.touched">
                                    <div id="sname" *ngIf="createEmployeeForm.get('Staffname')?.errors?.hasOwnProperty('required')">
                                      Staff Name is required.
                                    </div>   <div  id="sname" *ngIf="createEmployeeForm.get('Staffname')?.errors?.hasOwnProperty('pattern')">
                                        Please enter a valid name (letters and spaces only).
                                    </div>

                                  </div>
                                </div>
<div >
                                <input type="text" readonly [placeholder]="formattedDate"  formControlName="Date" >
                            </div>
                            </div>
                            <div style="align-items: center; width: 60vw;display: flex;justify-content: center;">
                                <div style="display: flex;align-items: center;justify-content: center;flex-direction: column;" >
                                <input type="number" formControlName="Snumber" placeholder="S-number">
                                <div *ngIf="createEmployeeForm.get('Snumber')?.invalid && createEmployeeForm.get('Snumber')?.touched">
                                    <div id="snumber" *ngIf="createEmployeeForm.get('Snumber')?.errors?.hasOwnProperty('required')">
                                      S-number is required.
                                    </div>
                                    <div id="snumber" *ngIf="createEmployeeForm.get('Snumber')?.errors?.hasOwnProperty('pattern')">
                                      Please enter a valid number.
                                    </div>
                                  </div>
</div>
<div>
    
                                <input type="number" formControlName="Ssalary" placeholder="S-salary">
                                <div *ngIf="createEmployeeForm.get('Ssalary')?.invalid && createEmployeeForm.get('Ssalary')?.touched">
                                    <div id="snumber" *ngIf="createEmployeeForm.get('Ssalary')?.errors?.hasOwnProperty('required')">
                                      S-salary is required.
                                    </div>
                                    <div id="snumber" *ngIf="createEmployeeForm.get('Ssalary')?.errors?.hasOwnProperty('pattern')">
                                      Please enter a valid number.
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div style="margin-right: 1vw; display: flex;flex-direction: row;">
                                <div  >
                                    <input type="text" name="SID" readonly [placeholder]="SIDs" [value]="SIDs"  formControlName="SID">
                                </div>
                                <div style="display: flex; align-items: center;justify-content: center;width: 25vw;flex-direction: column;">
                                    <div style="display: flex; align-items: center;justify-content: center;width: 25vw;">
                                    <label class="radio-label">
                                        <input  type="radio" name="Gender" value="male" formControlName="Gender"> Male
                                    </label>
                                    <label class="radio-label">
                                        <input type="radio" name="Gender" value="female" formControlName="Gender"> Female
                                    </label>
                               
                                </div>
                                <div id="snumber" *ngIf="createEmployeeForm.get('Gender')?.errors && createEmployeeForm.get('Gender')!.touched" class="error">
                                    Please select a gender.
                                </div>
                                </div>
                            </div>
                            <div style="width: 30svw;height: 12vh; display: flex;align-items: center;justify-content: center;flex-direction: column;">
                              
                                 
                                 <p style="font-weight: 600;">Secect Branch &nbsp;&nbsp;&nbsp;&nbsp;
                                 <select  formControlName="Section" placeholder="Section">
                                    <!-- <option  value="" selected >Secect Branch ▼</option> -->
                                    <option *ngFor="let value of categories" [value]="value">{{value}}</option>
                                </select></p>
                                <div id="snumber" *ngIf="createEmployeeForm.get('Gender')?.errors && createEmployeeForm.get('Gender')!.touched" class="error">
                                    Please select a gender.
                                </div>

                            </div>
                            <button [disabled]="!createEmployeeForm.valid" (click)="validation()">Add</button>
                        </form>
                    </div>
    <!-- <div>

    <p>Top Recipes</p>
    </div>
    <div class="headerpopbody">
    <div class="box">
    <div id="img">
    <img src="/assets/images/veg.jpg" alt="">
    </div>
    <div>
    <p> veg</p>
    </div>
    
    </div>
    <div class="box">
        <div id="img">
            <img src="/assets/images/nonveg.jpg" alt="">
            </div>
            <div>
                <p> Non-Veg</p>
                </div>
    
    </div>
    
    </div>
    
    <div class="headerpopbody">
    
    <div class="box">
        <div id="img">
            <img src="/assets/images/noodel.jpg" alt="">
            </div>
            <div>
                <p> Noodels</p>
                </div>
    
    </div> -->
    <!-- <div class="box">
        <div id="img">
            <img src="/assets/images/icecream.jpg"  alt="">
            </div>
            <div>
                <p> Ice creams</p>
                </div>
    
    </div> -->
    <!-- </div> -->
    
      </div>
    
                </div>
    
    
    
            </div>
            <!-- //
            <div class="body">
    
    <div class="cheffimage">
    
    
    <img src="/assets/images/chef.png" alt="">
    
        
    
             <div class="bodycontent">
    <div id="product">
                <div class="productimg">
                    <i class="bi bi-bag-plus-fill"></i>
                </div>
                <div class="productdetails">
    <p (click)="showPopup1()">Add<br> Product</p>
    <div class="popup1" *ngIf="isPopupVisible1">Click menu!</div>
    
                </div>
            </div>
        <div id="product">
                <div class="productimg">
                    <i class="bi bi-building-add"></i>
    
                    
                </div>
                <div class="productdetails">
    <p (click)="showPopup2()">Add restaurant</p>
    <div class="popup2" *ngIf="isPopupVisible2">Click menu!</div>
    
                </div>
                </div>
                <div id="product">
                    <div class="productimg">
                        <i class="bi bi-bar-chart"></i>
                        
                    </div>
                    <div class="productdetails">
                        <p (click)="showPopup3()">Analysis</p>
    <div class="popup3" *ngIf="isPopupVisible3">Click menu!</div>
    
                    </div>
    
                    </div>
                    <div id="product">
                        <div class="productimg">
            
                            <i class="bi bi-truck"></i>
                        </div>
                        <div class="productdetails">
    <p (click)="showPopup4()">Delivary</p>
    <div class="popup4" *ngIf="isPopupVisible4">Click menu!</div>
    
    
                        </div>
                        
                        </div>
    
    
             </div>
            
    
    </div>
    
    
    
        </div> -->
        <div class="footer">
            <p style="color: wheat;font-size: 1.3vh;">clothingboutiques@gmail.com</p>
            </div>
        </div>
    
        
    