<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="errorMessage"></div>
        <video src=""  id="myVideo" width="400" height="400" autoplay></video> 
        <div id="canvacontainer"></div>
        <!-- <button [disabled]="flag==='notScanned'" id="Button" (click)="admindashboard()" [routerLink]="['/home']">Register</button>
        <a href="" [routerLink]="['/login']">Click here to login</a> -->
        <button [disabled]="flag==='notScanned'" (click)="faceloginpage()"> register</button>
    </div>


</body>

</html>
